/* ***** COLORS ***** */
$font_color : #5A432E;
$button_header_color : #30488f;
$buttons_color : #30488f;
$secondary_color : #FFE8CF;

/* ***** FONT PROPERTIES ***** */
$font_light : 200;
$font_normal : 400;
$font_heavy : 600;

/* ***** BUTTONS DIMENSIONS ***** */
$btn_width-sm : 93px;
$btn_heigth-sm : 35px;

$button_icons_sm : 15px;
$button_icons_md : 18px;
$button_icons_lg : 32px;


/* ***** FONT SIZES ***** */
$title_lg : 43px;
$title_md : 25px;
$title_sm : 16px;
