
div.full-width-container {

   width: 100%;

   div.custom-container {

      div.row {

        padding-top: 75px;

        div.cards-cnt {

            padding-top: 75px;

            div.card {

                p.card-description {
                    line-height: 27px;
                }
            }
        }

      }

   }



}
